src/main/mule/munits.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1ba8e856-ec8f-4a35-92b0-7a3e16b8f3e1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="munitsFlow" doc:id="5bd525e8-782d-4410-b4af-258ed6444d0e" >
		<http:listener doc:name="Listener" doc:id="39480577-589d-47e9-85ee-ff51eadd7cd4" config-ref="HTTP_Listener_config" path="/tests"/>
		<set-variable doc:name="Set Variable" doc:id="52c0a9f6-34ed-4ef2-9090-72e75e1fe716" variableName="code" value='#["ambika"]'/>
		<set-payload value="#[vars.code]" doc:name="Set Payload" doc:id="8a8f3270-784c-4f7d-876c-0ed048e2b7ea" />
		<logger level="INFO" doc:name="Logger" doc:id="98f7376f-3f61-4e8d-966e-44c38d4d9884" message="#[payload]"/>
	</flow>
</mule>
